.ByCompany{
	border-left:1px solid #AAAAAA;
}

.ByCompany-header{
	background:-webkit-gradient(linear,0 0,0 100%, from(#F5F6F8), to(#A8ADBA)) ; 
	text-align:center;
	color:#717880;
	height:38px;
	font-size:1.2em;
	font-family:Arial;
	padding-top:10px;
	text-shadow: 0 1px 0 #D8D9DC;
	border-top:1px solid #848B9B;
	border-bottom:1px solid #848B9B;
} 

.company-header{
	background:-webkit-gradient(linear,0 0,0 100%, from(#91A0AC), to(#B5BFC6)); 
	border:1px solid #848B9B;
	height:25px;
	font-weight:bold;
	font-family:Arial;
	color:#FFFFFF;
	font-size:1.2em;
}
.con-bar{
	height:100px;
	width:300px;
	display: inline-table;
	padding:25px 0 0 100px;	
}
.ByCompany .image{
	display: inline-table;
	margin-bottom:-5px;	
}
.ByCompany .name{
	font-family:Arial;
	margin:0 0 0 10px;
	display: inline-table;
	width:100px;
}
.ByCompany .description{
	font-size:0.5em;
	font-family:Arial;
	color:#5E84AB;
	margin:10px 0 0 40px;
}
.ByCompany .del{
	cursor:pointer;
	font-size:0.5em;
	font-family:Arial;
	color:red;
	margin:0 0 0 40px;
}