.CategoryCreate {
	position: absolute;
	top: 35%;
	left: 35%;
	width: 400px;
	background: #2D2D2D;
	color: #ffffff;
	border: solid 2px #666666;
	padding-bottom: 10px;
	margin-left:auto;
}
.CategoryCreate > h2 {
	text-align: center;
	font-size: 18px;
	padding: 10px;
	border-bottom: solid 1px #777777;
	font-family:Arial;
}
.CategoryCreate > p {
	text-align: center;
	margin: 10px 10px 20px 10px;
}
.CategoryCreate > input {
	width:200px;
	border:1px solid #FFFFFF;
	
}
.CategoryCreate .CategoryCreate-buttonbar {
	text-align: center;
}
.CategoryCreate .input-label{
	float: left;
  width: 150px;
  text-align: right;
  display: block;
	opacity: .7;	
}
.CategoryCreate .input-value{
	margin: 0 0 0 160px;
  display: block;
}
