.ContactList .con{
	width:350px;
	background:-webkit-gradient(linear,left top,left bottom, from(#F4F4F4), to(#D0D0D0)) ; 
}

.ContactList .image{
	display: inline-table;
}

.ContactList .image >img{
	margin-top:3px;
	height:31px;
	width:31px;
}
.ContactList .text{
	text-align:center;
	width:215px;
	display: inline-table;
	font-family:Arial;
	margin-bottom:7px;
}
.ContactList .edit{
	margin-bottom:7px;
	font-size:1.0em;
	font-family:Arial;
	display: inline-table;
	width:26px;
	color:red;
	cursor:pointer;
}
.ContactList .del{
	display: inline-table;
	background-image:url(../images/delete.png);
	width:20px;
	height:20px;
	margin-bottom:7px;
	cursor:pointer;
}
.ContactList .star-not-sel{
	float:right;
	width:24px;
	height:23px;
	display: inline-table;
	background-image:url(../images/star.png);
	margin-top:5px;
	cursor:pointer;
}
.ContactList .star-sel{
	float:right;
	width:24px;
	height:23px;
	display: inline-table;
	background-image:url(../images/star-light.png);
	margin-top:5px;
	cursor:pointer;
}
.ContactList .search{
	background:-webkit-gradient(linear,left top,left bottom, from(#F3F5F7), to(#A8ADBA)) ; 
	height:38px;
	padding-top:10px;
	border-top:1px solid #838A9A;
	border-bottom:1px solid #838A9A;
}
.ContactList .search-input{
	height:30px;
	width:300px;
	border-radius:15px;
	margin:0px 25px 0px 25px;
	background:#FFFFFF;
}
.ContactList .input{
	height:25px;
	width:220px;
	outline:none;	
	border:0px;
	display: inline-table;
}
.ContactList .magnifier{
	width:20px;
	height:20px;
	margin-bottom:-6px;
	margin-left:10px;
	display: inline-table;
	background-image:url(../images/magnifier.png);
}
