.main {
	background-image:url(../images/iPad_GUI_PSD_3.png);
	width:1000px;
	height:1276px;
	background-repeat: no-repeat;
	background-position: -127px -202px;
	border-radius:70px;
}

.index-header{
	background:-webkit-gradient(linear,0 0,0 50%, from(#545454), to(#000000)) ; 
	text-align:center;
	width:1024px;
	height:40px;
	padding-top:10px;
}
.wizard{
	width:450px;
	margin-left:auto;
	margin-right:auto;
	height:30px;
	border-radius:5px;
	box-shadow:0px 1px #4A4A4A;
}
.wizard-bar-item {
	display: inline-table;
	background:-webkit-gradient(linear,0 0,0 50%, from(#545454), to(#000000)) ;
	width:150px;
	height:30px;
	margin:0px -5px 0 -5px;
	padding-top:5px;
	color:#FFFFFF;
	font-family:Arial;
}
.wizard-sel{
	background:-webkit-gradient(linear,0 0,0 50%, from(#7D8186), to(#4A4B4C)) ;
}
.contact{
	border:1px solid #1B1B1B;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
}
.company{
	border:1px solid #1B1B1B;
}
.category{
	border:1px solid #1B1B1B;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}

.contact-container{
	position:relative;
	left:0px;
	top:0px;
	width:350px;
	height:738px;
	background-color:#9D9D9D;
}

.contacts-home {
	position:relative;
	left:350px;
	top:-738px;
	width:674px;
	height:738px;
	background-color:#bababa;
	margin-right:0px;
	padding-left:0px;
}

