<script id="tmpl-ByCategory" type="text/html">
	<div class="ContactDisplay">
		<div class="ContactDisplay-header">By Category</div>
		<div class="group-container">
		
		{{#if categoryList.length}}
			{{#each categoryList}}
				<div class="category-container"  data_obj-id="{{id}}" member_id="{{member_id}}" >
						<div class="group-header" data-toggle="collapse" data-target=".con{{id}}">{{name}}
						
							<i class="icon-trash delete-group"></i>
							<i class="icon-pencil edit-group"></i>
							
						</div>
						<div class="collapse con{{id}}" target=".con{{id}}">
							<div class="con-container" data_obj-id="{{id}}" member_id="{{member_id}}"></div>
							<div><button class="add btn">Add</button></div>
						</div>	
				</div>
			{{/each}}
		{{else}}
			<p class="no-content">No Category!</p>
		{{/if}}
			<div><button class="create btn-primary">Create New Category</button></div>
			
		</div>	
	</div>
</script>

<script id="tmpl-contact" type="text/html">
	{{#if contactList.length}}
		{{#each contactList}}
		<div class="con-bar" data_obj-id="{{id}}">
			<div class="image"><img src="{{#if image}}{{image}}{{else}}img/face.png{{/if}}"></div>
			<div class="name">{{name}}</div>
			<div class="description">{{#if description}}{{description}}{{else}}no description{{/if}}</div>
			<i class="icon-trash del"></i>
		</div>
		{{/each}}
	{{else}}
		<p class="no-content">No Contact!</p>
	{{/if}}
</script>


