<script id="ipad-ByCategory" type="text/html">
	<div class="ByCategory">
		<div class="ContactHome-header">By Category</div>
		{{if categoryList.length>0}}
			{{each categoryList}}
				<div class="category-container"  data_obj-id="${id}">
						<div class="category-header">${name}</div>
						<div class="con-container" data_obj-id="${id}"></div>
						{{if member_id =="" || member_id == null}}
							<p>No Contact!</p>
						{{/if}}
						<div><button class="add">Add</button></div>	
					</div>
			{{/each}}
		{{else}}
			<p>No Category!</p>
		{{/if}}
			<div><button class="create">Create New Category</button></div>	
	</div>
</script>

<script id="ipad-contact" type="text/html">
	<div class="con-bar" data_obj-id="${id}">
										<div class="image"><img src="{{if image}}${image}{{else}}../images/face.png{{/if}}"></div>
										<div class="name">${name}</div>
										<div class="description">${description}</div>
										<div class="del">delete</div>
	</div>
</script>


