<script id="ipad-ByCompany" type="text/html">
	<div class="ContactDisplay">
		<div class="ContactDisplay-header">By Company</div>
		{{#if companyList.length}}
				{{#each companyList}}
					<div class="company-container"  data_obj-id="{{id}}">
						<div class="group-header">{{name}} 
							
							<i class="icon-trash delete-group"></i>
							<i class="icon-pencil edit-group"></i>
							
						</div>
						<div class="con-container" data_obj-id="{{id}}"></div>
						{{#unless member_id}}
							<p class="no-content">No Contact!</p>
						{{/unless}}
						<div><button class="add btn">Add</button></div>	
					</div>
				{{/each}}
		{{else}}
				<p class="no-content">No Company!</p>
		{{/if}}	
			<div><button class="create btn-primary">Create New Company</button></div>	
	</div>
</script>

<script id="ipad-contact" type="text/html">
	<div class="con-bar" data_obj-id="{{id}}">
										<div class="image"><img src="{{#if image}}{{image}}{{else}}../img/face.png{{/if}}"></div>
										<div class="name">{{name}}</div>
										<div class="description">{{#if description}}{{description}}{{else}}no description{{/if}}</div>
										
										<i class="icon-trash del"></i>
	</div>
</script>