<script id="ipad-ByCompany" type="text/html">
	<div class="ByCompany">
		<div class="ContactHome-header">By Company</div>
		{{#if companyList.length}}
				{{#each companyList}}
					<div class="company-container"  data_obj-id="{{id}}">
						<div class="company-header">{{name}} 
							<span class="delete-company">Delete</span>
							<span class="edit-company">Edit</span>
						</div>
						<div class="con-container" data_obj-id="{{id}}"></div>
						{{#unless member_id}}
							<p class="no-content">No Contact!</p>
						{{/unless}}
						<div><button class="add">Add</button></div>	
					</div>
				{{/each}}
		{{else}}
				<p class="no-content">No Company!</p>
		{{/if}}	
			<div><button class="create">Create New Company</button></div>	
	</div>
</script>

<script id="ipad-contact" type="text/html">
	<div class="con-bar" data_obj-id="{{id}}">
										<div class="image"><img src="{{#if image}}{{image}}{{else}}../images/face.png{{/if}}"></div>
										<div class="name">{{name}}</div>
										<div class="description">{{#if description}}{{description}}{{else}}no description{{/if}}</div>
										<div class="del">delete</div>
	</div>
</script>