<script type="text/html" id="ipad-CategoryCreate">
	<div class="Dialog-container">
		 <div class="CategoryCreate" data-obj_id="">
	        <h2>Create Category</h2>
	        <div class="input-label">name:</div>
	       	<div class="input-value">
	       		<input type="text" name="name" class="name" value=""/>
	       	</div>
	       
	        <div class="CategoryCreate-buttonbar">
	 					  <button class="ok">OK</button>
	            <button class="cancel">Cancel</button>
	        </div>
	    </div>
   </div>
</script>