<script type="text/html" id="ipad-CategoryCreate">
	<div class="Dialog-container">
		<div class="DialogPromptGlass"> </div>
		<div class="CategoryCreate" data-obj_id="{{#if category}}{{category.id}}{{/if}}">
			 <div class="DialogPrompt">
		        <h2>
					{{#if category}}
						Update
					{{else}}
						Create
					{{/if}}
						Category
				</h2>
		       
		       <form class="form-horizontal">
		       	<fieldset>
		       		
		       		<div class="control-group">
		       			<label class="control-label" for="name">Name:</label>
			       		<div class="controls">
			       			<input name="name" type="text" class="input-xlarge name" id="name" value="{{#if category}}{{category.name}}{{/if}}"/>
			       		</div>
		       		</div>
		       		
		       	</fieldset>
		       </form>
		       	 	
		        <div class="DialogPrompt-buttonbar">
				{{#if category}}
		 				<button class="update btn">Update</button>
		 			{{else}}
		 				<button class="ok btn">OK</button>
		 		{{/if}}	
		            <button class="cancel btn">Cancel</button>
		        </div>
		    </div>
	  </div>
  </div>
</script>