<script type="text/html" id="tmpl-CompanyCreate">
	<div class="Dialog-container">
		<div class="DialogPromptGlass"> </div>
		<div class="CompanyCreate" data-obj_id="{{#if company}}{{company.id}}{{/if}}">
			 <div class="DialogPrompt">
		        <h2>
					{{#if company}}
						Update
					{{else}}
						Create
					{{/if}}
						Company
				</h2>
		       
		       <form class="form-horizontal">
		       	<fieldset>
		       		
		       		<div class="control-group">
		       			<label class="control-label" for="name">Name:</label>
			       		<div class="controls">
			       			<input autofocus="autofocus" name="name" type="text" class="input-xlarge name" id="name" value="{{#if company}}{{company.name}}{{/if}}"/>
			       		</div>
		       		</div>
		       		
		       	</fieldset>
		       </form>
		       	 	
		        <div class="DialogPrompt-buttonbar">
				{{#if company}}
		 				<button class="update btn-large">Update</button>
		 			{{else}}
		 				<button class="ok btn-large">OK</button>
		 		{{/if}}	
		            <button class="cancel btn-large">Cancel</button>
		        </div>
		    </div>
	  </div>
  </div>
</script>