<script type="text/html" id="ipad-ContactCreate">
	<div class="Dialog-container">
		<div class="DialogPromptGlass"></div>
			<div class="ContactCreate" data-obj_id="{{#if contact}}{{contact.id}}{{/if}}">
				<div class="DialogPrompt">
		        <h2>
		        	{{#if contact}}
		        		Update
		        	{{else}}
		        		Create
		        	{{/if}}
		        	Contact</h2>
		        		 
		       <form class="form-horizontal">
		       	<fieldset>
		       	
		       		<div class="control-group">
		       			<label class="control-label" for="image">
		       				<img class="preview" src="{{#if contact}}{{#if contact.image}}{{contact.image}}{{else}}img/face.png{{/if}}{{else}}img/face.png{{/if}}">
		       			</label>
			       		<div class="controls">
			       			<input type="file" class="upload" id="upload"/>
			       		</div>
		       		</div>
		       		
		       		<div class="control-group">
		       			<label class="control-label" for="name">Name:</label>
			       		<div class="controls">
			       			<input name="name" type="text" class="input-xlarge name" id="name" value="{{#if contact}}{{contact.name}}{{/if}}"/>
			       		</div>
		       		</div>
		       		
		       		<div class="control-group">
		       			<label class="control-label" for="phone">Phone:</label>
			       		<div class="controls">
			       			<input name="phone" type="text" class="input-xlarge phone" id="phone" value="{{#if contact}}{{contact.phone}}{{/if}}"/>
			       		</div>
		       		</div>
		       		
		       		<div class="control-group">
		       			<label class="control-label" for="description">Description:</label>
			       		<div class="controls">
			       			<textarea name="description" id="description" class="input-xlarge description">{{#if contact}}{{contact.description}}{{/if}}</textarea>
			       		</div>
		       		</div>
		       	</fieldset>
		       </form>
		       	
		       	
		        <div class="DialogPrompt-buttonbar">
		        {{#if contact}}
		 						<button class="update btn">update</button>
		 				{{else}}
		 					  <button class="ok btn">OK</button>
		 				{{/if}}	
		            <button class="cancel btn">Cancel</button>
		        </div>
		    </div>
	   </div>
	 </div>
</script>