<script type="text/html" id="tmpl-OverView">
			<div class="OverView">
			<div class="ContactDisplay-header">Over View</div>
				<div class="container-fluid" data_obj-id="" description="">
					<div class="row">	
						<div class="span3">
							<img class="preview" src="{{#if contact}}{{#if contact.image}}{{contact.image}}{{else}}img/face.png{{/if}}{{else}}img/face.png{{/if}}">
						</div>
						<div class="span3">
							<legend>{{#if contact}}{{contact.name}}{{else}}Blank Name{{/if}}</legend>
							<label >Phone:</label>
							<p>{{#if contact.phone}}{{contact.phone}}{{else}}Blank Phone{{/if}}</p>
							<label>Description:</label>
							<p>{{#if contact.description}}{{contact.description}}{{else}}Blank Description{{/if}}</p>
						</div>
					<div>
				</div>								
			</div>
</script>