<script type="text/html" id="ipad-OverView">
			<div class="OverView">
			
				<div class="navbar navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		          <a class="brand">Contact</a>
		          <div class="nav-collapse">
		            <ul class="nav">
		              <li><a class="home">Home</a></li>
		              <li class="active"><a>OverView</a></li>
		              
		            </ul>
		          </div>
		        </div>
		      </div>
		    </div>

			
			
			
			
				<div class="container-fluid">
					<div class="row-fluid">	
						<div class="left-container span3">
								<div class="trash"></div>
								<p>Here you can drop to delete!</p>
						</div>
						
						<div class="gallery span9">	
						
							<div class="row-fluid">
							{{#if contactList.length}}
									{{#each contactList}}
									
										<div class="tag span3" data_obj-id="{{id}}" description="{{description}}">
											<div class="image"><img {{#if image}}src="{{image}}"{{else}}src="img/face.png"{{/if}}></div>
												
											<div class="text span2">{{name}} </div>
											<div class="text span2">{{phone}} </div>
											<div class="text span2">{{description}} </div>
										</div>
									{{/each}}
							{{/if}}	
							</div>	
						</div>			
					</div>			
				
				</div>								
			</div>
			
	
</script>