<script type="text/javascript">
	
	(function($) {
		brite.registerComponent("main", {emptyParent : true}, function() {
			return new ipad.main();
		});

	})(jQuery);
</script>

<script type="text/html" id="ipad-main">
	<div>
		<div class="index-header">
			<div class="wizard">
				<div class="wizard-bar-item contact wizard-sel">Contacts</div>
				<div class="wizard-bar-item company">By Company</div>
				<div class="wizard-bar-item category">By Category</div>
		  </div>
		</div>
		<div class="contact-container">
			<div class="search">
				<input type="text"/>
		    </div>
			<!--<div class="con">
				<div class="image"><img src="../images/face.png"></div>
				<div class="text">Jhon Smith</div>
				<div class="icon-sel"><span></span></div>
		    </div>-->
			
		</div>
		<div class="contacts-home">
		
		</div>
	</div>
</script>